# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Compilados
dist/
build/
# Variables de entorno
.env
.env.*
# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/
# Logs
*.log

# SQLite u otras DB locales
*.sqlite
*.db
coverage/
.nyc_output/
.cache/